@font-face {
		font-family: "Montserrat";
		src: local("Montserrat-Bold"), url("./Montserrat-Bold.ttf") format("truetype");
		font-weight: 700;
		font-style: normal;
}

@font-face {
		font-family: "Montserrat";
		src: local("Montserrat-SemiBold"), url("./Montserrat-SemiBold.ttf") format("truetype");
		font-weight: 600;
		font-style: normal;
	}
	@font-face {
			font-family: "Montserrat";
			src: local("Montserrat-Medium"), url("./Montserrat-Medium.ttf") format("truetype");
			font-weight: 500;
			font-style: normal;
		}

		body {
			height: 100vh;
			margin: 0;
			display: flex;
			flex-direction: column;
			font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
		}
		*,
		*::before,
		*::after {
		    box-sizing: border-box;
		}

.layout_container{
	max-width:1500px;
	margin: 0 auto;
}

.header_placement{
	display: flex;
	flex-direction: row;
	padding: 17px 14px 0 940px;

}

.header_placement__link{
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #EA5D4A;
	text-decoration: none;
}

.header_placement__link2{
	padding-left: 25px;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #EA5D4A;
	text-decoration: none;
}

.placement_link_subway{
	color:#0E95D3;
}

.header_menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header_menu__nav{
	display:flex;
	flex-direction: row;
}

.menu_nav__link{
	padding-left: 16px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #334155;
	text-decoration: none;
	transition: transform. .2s linear;
}

.menu_nav__link:hover{
	color:#EA5D4A;
}

.header_menu__contacts{
	list-style-type: none;
	list-style-position: outside;
	counter-reset: contacts;
	margin:0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.header_menu__phone{
	padding-left: 23px;
}

.header_menu__phone_link{
	font-weight: 400;
	font-size: 20px;
	line-height: 19px;
	color: #334155;
	text-decoration: none;
}

.menu_phone__text{
	margin: 0;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	color: #EA5D4A;
	text-decoration: none;
}

.header_menu__vk{
	padding-left: 23px;
}

.header_menu__inst{
	padding-left: 23px;
}

.header_menu__button{
	border:none;
	padding: 12px;
	height: 40px;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color:#FFFFFF;
	background: #8081BD;
	border-radius: 50px;
}

/*MAIN__ADV*/
.main_adv{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.main_container{
	max-width:1804px;
	margin: 0 auto;
}
.layout_main{
	border-radius: 20px;
	background: no-repeat 0 0 url("./vector1.svg"), no-repeat -19px 363px url("./vector2.svg"), no-repeat 466px 340px url("./dots.svg"),no-repeat 568px -78px url("./children.png"), no-repeat 1206px -4px url("./vector3.svg");
	margin: 0 58px 0 58px;
	background-color:#FDDC4E;
}

.main_adv__inf{
	margin: 176px 0 0 193px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.main_adv__title{
	font-weight: 700;
	font-size: 96px;
	line-height: 117px;
	color: #334155;
}

.main_adv__subtitle{
	margin:0;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	display: flex;
	align-items: center;
	color: #334155;
}

.main_adv__form{
	display: flex;
	flex-direction: column;
	padding: 50px 38px 59px 38px;
	max-width: 384px;
	height: 558px;
	background: #8081BD;
	border-radius: 20px;
}
.adv_form__title{
	margin: 0;
	padding-bottom: 9px;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #FFFFFF;
}

.adv_form_subtitle{
	margin: 0;
	margin-bottom: 33px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

.form_input{
	border:none;
	background: #FFFFFF;
	border-radius: 50px;
	margin: 9px;
	padding: 14px 20px;
}

.adv_form__button{
	margin-top: 40px;
	background: #EA5D4A;
	border-radius: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	border:none;
	padding: 12px 95px;
}

/*Info*/

.info_placement{
	margin-top: 102px;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:81px;
	list-style-type: none;
	list-style-position: outside;
	padding:0;
}

.info_group{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #334155;
	padding-left:96px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.info_hours{
	position: relative;
	order:1;
}

.info_hours::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./hours.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.info_watching{
	position: relative;
	order:4;
}

.info_watching::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./watching.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.info_groups{
	position: relative;
	order:2;
}

.info_groups::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./groups.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.info_envire{
	position: relative;
	order:5;
}

.info_envire::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./envire.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.info_medicine{
	position: relative;
	order:7;
}

.info_medicine::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./medicine.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.info_walking{
	position: relative;
	order:3;
}

.info_walking::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./walking.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.info_place{
	position: relative;
	order:8;
}

.info_place::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./place.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.info_age{
	position: relative;
	order:6;
}

.info_age::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./age.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.info_eating{
	position: relative;
	order:9;
}

.info_eating::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 5px;
	position: absolute;
	background-image: url("./eating.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
}
/*Consult*/

.layout_consult{
	background-color: #8081BD;
	border-radius: 20px;
	background-repeat:no-repeat;
	height:396px;
	margin: 53px 58px 0 58px;

}
.layout_consult__before{
margin-top: 50px;
	position:relative;
}
.layout_consult__before::before{
	content: "";
	width: 700px;
	height: 507px;
	left: 1025px;
	position: absolute;
	background-image: url("./boy2.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;

}
.consult_container{
	padding: 48px 0 93px 193px;

}

.consult_info{
	max-width: 633px;
}

.consult_info__title{
	margin: 0;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #FFFFFF;
}

.consult_info__subtitle{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin: 31px 0 31px 0;
}

.consult_input{
	display: grid;
	grid-template-areas: "consult_input__phone consult_input__button ";
	grid-gap:16px;
	padding-top: 27px;
	padding-right: 1400px;
}

.consult_input__phone{
	min-width:308px;
	padding: 14px 20px;
	background: #FFFFFF;
	border:none;
	border-radius: 50px;
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	color: #334155;
}

.consult_input__button{
	padding: 10px 100px;
	background: #F6B31F;
	border:none;
	border-radius: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #334155;
}

/*Services*/
.services_title{
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #8081BD;
}

.services_grids{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	list-style-position: outside;
	counter-reset: contacts;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #334155;
	margin-left: -20px;
	padding: 0;
}

.services_grid{
	display:flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	background-color:#FFF6D1;
	border-radius: 10px;
	padding: 35px 0 35px 0px;
	margin: 20px;
}

.yoga{
	position: relative;
	padding-right: 70px;
	padding-left: 145px;
}

.yoga::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./yoga.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.wood{
	position: relative;
	padding-right: 84px;
	padding-left: 145px;
}

.wood::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./wood.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
		}
.golf{
	position: relative;
	padding-right: 44px;
	padding-left: 145px;
		}
.golf::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./golf.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
		}

.bike{
	position: relative;
	padding-right: 40px;
	padding-left: 145px;
}

.bike::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./bike.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.lego{
	position: relative;
	padding-right: 50px;
	padding-left: 145px;
}

.lego::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./lego.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.clay{
	position: relative;
	padding-right: 30px;
	padding-left: 125px;
}

.clay::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./clay.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.talking{
	position: relative;
	padding-right: 32px;
	padding-left: 105px;
}

.talking::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./talking.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.mountain{
	position: relative;
	padding-right: 25px;
	padding-left: 110px;
}

.mountain::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./mountain.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.theatre{
	position: relative;
	padding-right: 25px;
	padding-left: 115px;
}
.theatre::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./theatre.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.cooking{
	position: relative;
	padding-right: 15px;
	padding-left: 115px;
	}
.cooking::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./cooking.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.sand{
	position: relative;
		padding-right: 45px;
		padding-left: 145px;
}

.sand::before{
	content: "";
	width: 100%;
	height: 76px;
	left:12px;
	position: absolute;
	background-image: url("./sand.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

	/*Slider*/
.slider_text{
	max-width:1600px;
	margin: 0;
	margin-top: 91px;
}
.slider_title{
	margin: 0;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #8081BD;
}

.slider_subtitle{
	margin: 0;
	padding-top: 24px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #334155;
}

.slider {
	width: 1200px;
	margin: 50px auto;
}

.slide {
			position: absolute;
			top: 50%;
			width: 501px;
			height: 256px;
			margin-top: -128px;
			z-index: 1;
			border-radius: 20px;
			opacity: .5;


			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(255, 255, 255);
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
}

	.slide img {
			max-height: 100%;
			max-width: 100%;
	}

	.slide-left {
	    left: 0;
	}

	.slide-right {
	    right: 0;
	}

	.slide-current {
	    left: 50%;
	    width: 652px;
	    height: 333px;
	    margin-top: -166.5px;
	    margin-left: -326px;
	    z-index: 2;
	    opacity: 1;
	}

	.slides_wrap {
	    position: relative;
	    height: 333px;
	}

	.slides_nav {
	    margin-top: 22px;
	    display: flex;
	    justify-content: center;
	}

	.slides_nav_pointer {
	    width: 14px;
	    height: 14px;
	    background-color: #FDDC4E;
	    border-radius: 7px;
	    margin: 0 11px;
	    cursor: pointer;
	}

	.slides_nav_pointer-current {
	    background-color: #EA5D4A;
	}
	/*Benefits*/

.benefits_title{
margin: 0;
font-weight: 700;
font-size: 40px;
line-height: 49px;
color: #8081BD;
}
.benefits_subtitle{
	margin: 0;
	padding: 24px 0 58px 0;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #334155;

}
.benefits_lists{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:77px;
	list-style-type: none;
	list-style-position: outside;
	align-items: center;
	padding: 0;
	margin-left: 10px;

}
.benefits_list{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #334155;
	padding-left:96px;
	display: flex;
	flex-direction: row;
	align-items: center;
	}
.classes{
	position: relative;
	order:1;
	}
	.classes::before{
		content: "";
		width: 100%;
		height: 76px;
		right: 10px;
		position: absolute;
		background-image: url("./classes.png");
		background-repeat: no-repeat;
		background-position: 0% 50%;
	}
.exp{
	position: relative;
	order:4;
	}
	.exp::before{
	content: "";
	width: 100%;
	height: 76px;
	right: 10px;
	position: absolute;
	background-image: url("./exp.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
		}

.games{
position: relative;
order:2;
}
	.games::before{
content: "";
width: 100%;
height: 76px;
right: 10px;
position: absolute;
background-image: url("./games.png");
background-repeat: no-repeat;
	background-position: 0% 50%;
		}

.concerts{
position: relative;
order:5;
}
.concerts::before{
content: "";
width: 100%;
height: 76px;
right: 10px;
position: absolute;
background-image: url("./concerts.png");
background-repeat: no-repeat;
background-position: 0% 50%;
}
.projects{
position: relative;
order:3;
}
.projects::before{
content: "";
width: 100%;
height: 76px;
right: 10px;
position: absolute;
background-image: url("./projects.png");
background-repeat: no-repeat;
background-position: 0% 50%;
}
.compete{
position: relative;
order:6;
}
.compete::before{
content: "";
width: 100%;
height: 76px;
right: 10px;
position: absolute;
background-image: url("./compete.png");
background-repeat: no-repeat;
background-position: 0% 50%;
}
.map{
	margin:60px 58px 60px 58px;
}
.layout_inner{
display: flex;
flex-wrap: wrap;
}


.aboutus_title{
	margin: 83px 0 24px 0;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	display: flex;
	align-items: center;
	color: #8081BD;
}
.aboutus_subtitle{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #334155;
	margin: 0 0 41px 0;
}
.aboutus_aim{
	margin: 0 0 18px 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #EA5D4A;
}
.aboutus_list{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #334155;
	margin: 0 0 100px 0;
}
/*Footer*/


.footer_phone_logo{
	width:192px;
	height:52px;
}
.footer_group{
	padding: 40px;
	list-style-type: none;
	list-style-position: inside;
	counter-reset: contacts;
	margin: 0;
}
.footer_title{
	padding-bottom: 20px;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #334155;
}
.footer_list{
	padding: 5px 0;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #334155;

}
.footer_phone{
	list-style-type: none;
	list-style-position: outside;
	counter-reset: contacts;
}
.footer_phone__phone__link{
	font-weight: 400;
	font-size: 40px;
	line-height: 38px;
	color: #334155;
	text-decoration: none;
	}
.footer_phone__email{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #334155;
	text-decoration: none;

}
.footer_phone__adress__link{
text-decoration: none;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #334155;
text-decoration: none;
}
dd{
	margin: 0;
}


/*Gallery*/


.container{
display: flex;
flex-wrap: wrap;


}
.zoom_img{
min-width: 460px;
height: 324px;
object-fit: contain;
padding: 0 20px 17px 0;
cursor: pointer;
}

#lightboxBg{
	position: fixed;
	z-index: 150;
	top:0;
	width:100%;
	height:100%;
	display: none;
background: linear-gradient(130.83deg, rgba(128, 129, 189, 0.6) 14.95%, rgba(128, 129, 189, 0.6) 79.77%);
backdrop-filter: blur(30px);
}
#lightboxBg.active{
	display: grid;
	place-items:center;
}
#lightboxImg{
	max-width: 80%;
	max-height: 80%;

}

/*SliderTeacher*/

@keyframes slideLeft {
	from {
		margin-left: 0;
	}
	to {
		margin-left: -1228px;
	}
}

@keyframes slideRight {
	from {
		margin-left: -1228px;
	}
	to {
		margin-left: 0;
	}
}
.command_slider{
	margin: 40px 0 40px 0;
	width: 100%;
	height: 100%;
}
.command_title{
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #8081BD;
}

.teamSlider {
	padding: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-left: -65px;
}

.slide_wrap {
	display: flex;
	overflow: hidden;
	width: 1228px;
	margin: 0 35px;
	position: relative;
}

.slide_inner,
.slide_inner > div {
	display: flex;
}

.slider_container {
	width: 283px;
	height: 405px;
	margin-right: 32px;
	margin-left: 0;
}

.slider_container:last-child{
	margin-right: 0;
}

.slider_image {
	width:283px;
	height:278px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
}

.slider_image_1 {
	background-image: url("./deadpool.jpg");
}

.slider_image_2 {
	background-image: url("./hulk.jpg");
}

.slider_image_3 {
	background-image: url("./ironman.jpg");
}

.slider_image_5 {
	background-image: url("./locky.jpg");
}

.slider_image_4 {
	background-image: url("./cap.jpg");
}

.slider_image_6 {
	background-image: url("./spider.jpg");
}

.slider_image_7 {
	background-image: url("./strange.jpg");
}

.slider_image_8 {
	background-image: url("./thor.jpg");
}

.slider_description{
	margin: 28px 42px 0 4px;
}

.surname{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #8081BD;
	margin: 0;
}

.name{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #334155;
	margin:0;
}

.second_name{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #334155;
	margin: 0;
}

.role{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #334155;
	margin: 0;
}

.experience{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #334155;
	margin: 0;
}

.prev_btn,
.next_btn {
	margin-top: 115px;
	border:none;
	background-color: #FFFF;
	font-size: 0;
	padding: 0;
	width:60px;
	height:60px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	background-image: url("./pre_btn.png");
}

.prev_btn {
	transform: rotate(180deg);
}

.sliding_left .slide_inner {
	animation-name: slideLeft;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.sliding_right .slide_inner {
	animation-name: slideRight;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
